/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
.outline-input {
  @include mat.form-field-density(-4);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #a1a47a73;
}

.table-filtro {
  .mat-mdc-select-arrow {
    display: none;
  }

  .mat-select-arrow-wrapper {
    display: none;
  }
}

.data-table {
  .mat-sort-header-container {
    justify-content: center;
  }
  .mat-mdc-header-row {
    background-color: #a1a47a73;
    border-radius: 2px;
  }

  .mat-mdc-header-cell {
    border: solid 1px gray;
    border-radius: 2px;
  }
}

.mdc-button.mat-primary:not(.mat-mdc-button-disabled) {
  background-color: #a1a47a73 !important;
  color: black !important;
}
