mat-expansion-panel {
  .mat-expansion-panel-header-title {
    justify-content: center;
  }
  span {
    font-size: 24px;
  }
}

.button-expansion {
  right: 0;
  position: absolute;
  margin-right: 40px;
}
